# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.so

# Virtual environment
venv/
.venv/
conda/
.conda/

# IDE/editor-specific
.vscode/
.idea/

# OS-specific
.DS_Store
Thumbs.db

# Logs and databases
*.log
*.sqlite3
