# Quart and async dependencies
Quart
quart-cors
quart-csrf
aiomysql
hypercorn
quart-babel
Babel
werkzeug

# Other dependencies
requests
python-dotenv
bcrypt
phonenumbers
Pillow
markdown
cryptography
psutil