# Quart and async dependencies
Quart
quart-cors
quart-csrf
aiomysql
aioredis
hypercorn
quart-babel
Babel
werkzeug

# Other dependencies
requests
python-dotenv
bcrypt
phonenumbers
Pillow
markdown
cryptography
psutil

# Observability
opentelemetry-sdk
opentelemetry-exporter-otlp
opentelemetry-instrumentation-asgi