[Unit]
Description=Restart Madrasa App every 24 hours
Requires=madrasa-app.service

[Timer]
OnCalendar=*-*-* 03:00:00
Persistent=true
RandomizedDelaySec=300

[Install]
WantedBy=timers.target 